<!-- TODO: refactor this dry -->
@if (accounts$() | async; as accounts) {
  <p class="text-base font-bold mb-2">Current accounts</p>
  @if (accounts.CURRENT.length) {
    has
  } @else {
    This user has no current account.
  }

  <p class="text-base font-bold mb-2">Savings accounts</p>
  @if (accounts.SAVING.length) {
    has
  } @else {
    This user has no saving account.
  }

  <p class="text-base font-bold mb-2">Accumulating accounts</p>
  @if (accounts.ACCUMULATIVE.length) {
    has
  } @else {
    This user has no accumulating account.
  }
}
