@if (accounts$() | async; as accounts) {
  <ng-container
    *ngTemplateOutlet="
      accountSection;
      context: {
        accounts: accounts.CURRENT,
        type: 'CURRENT',
        title: 'Current accounts',
        noAccountsMessage: 'This user has no current accounts.',
      }
    "
  ></ng-container>

  <ng-container
    *ngTemplateOutlet="
      accountSection;
      context: {
        accounts: accounts.SAVING,
        type: 'SAVING',
        title: 'Savings accounts',
        noAccountsMessage: 'This user has no saving accounts.',
      }
    "
  ></ng-container>

  <ng-container
    *ngTemplateOutlet="
      accountSection;
      context: {
        accounts: accounts.ACCUMULATIVE,
        type: 'ACCUMULATIVE',
        title: 'Accumulating accounts',
        noAccountsMessage: 'This user has no accumulating accounts.',
      }
    "
  ></ng-container>
}

<ng-template
  #accountSection
  let-accounts="accounts"
  let-type="type"
  let-title="title"
  let-noAccountsMessage="noAccountsMessage"
>
  <section class="mb-4">
    <div class="flex gap-4 mb-2">
      <p class="text-base font-bold">{{ title }}</p>
      @let canAdd = accounts.length < 3;
      @if (canAdd) {
        <button
          matTooltip="Add account"
          class="cursor-pointer flex items-center"
          (click)="openAddDialog(accounts, type)"
        >
          <mat-icon>add_circle</mat-icon>
        </button>
      }
    </div>

    @if (accounts.length) {
      @for (account of accounts; track account.id) {
        <app-account-card
          [account]="account"
          [clientNumber]="clientNumber()"
          class="block mb-4"
        ></app-account-card>
      }
    } @else {
      <p>{{ noAccountsMessage }}</p>
    }
  </section>
</ng-template>
