<div
  class="overflow-auto rounded-2xl border border-solid border-neutral-300 text-center"
>
  <table
    mat-table
    matSort
    [matSortDirection]="tableData().sort?.direction || ''"
    [matSortActive]="tableData().sort?.active || ''"
    (matSortChange)="announceSortChange($event)"
    [dataSource]="tableData().rows"
  >
    @for (column of tableData().columns; track column) {
      <ng-container matColumnDef="{{ column }}">
        <mat-header-cell
          class="flex justify-center !px-0 !border-none"
          *matHeaderCellDef
          mat-sort-header
          >{{ column | camelCaseToTitleCase }}</mat-header-cell
        >
        <mat-cell
          class="flex justify-center !px-0 !border-none"
          *matCellDef="let row"
        >
          {{ row[column] }}
        </mat-cell>
      </ng-container>
    }

    <mat-header-row *matHeaderRowDef="tableData().columns"> </mat-header-row>
    <mat-row
      *matRowDef="let row; columns: tableData().columns; let i = index"
      class="cursor-pointer"
      (click)="onRowClick(row)"
      [ngClass]="{
        '!bg-rose-100': i % 2 === 0,
      }"
    ></mat-row>

    <tr class="mat-row" *matNoDataRow>
      <td
        [colSpan]="tableData().columns.length - 1"
        class="flex flex-col items-center"
      >
        <img src="assets/no-data.svg" alt="no-data" class="w-3xs" />
        <p class="text-xl">No results.</p>
      </td>
    </tr>
  </table>

  <mat-paginator
    [length]="tableData().paging.totalItems"
    [pageSizeOptions]="[tableData().paging.pageSize]"
    [pageIndex]="tableData().paging.pageIndex"
    showFirstLastButtons
    (page)="announcePageChange($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
