<div
  class="overflow-auto rounded-2xl border border-solid border-neutral-300 text-center"
>
  <table
    mat-table
    [dataSource]="tableData().data"
    class="flex h-full !min-w-max flex-col flex-nowrap"
  >
    @for (column of columns; track column) {
      <ng-container matColumnDef="{{ column }}">
        <mat-header-cell
          class="flex justify-center !px-0 !border-none"
          *matHeaderCellDef
          >{{ column | titlecase }}</mat-header-cell
        >
        <mat-cell
          class="flex justify-center !px-0 !border-none"
          *matCellDef="let row"
        >
          {{ row[column] }}
        </mat-cell>
      </ng-container>
    }

    <mat-header-row *matHeaderRowDef="columns"> </mat-header-row>
    <mat-row
      *matRowDef="let row; columns: columns; let i = index"
      class="cursor-pointer"
      [ngClass]="{
        '!bg-rose-100': i % 2 === 0,
      }"
    ></mat-row>
  </table>

  <mat-paginator
    [length]="tableData().totalItems"
    [pageSizeOptions]="[tableData().pageSize]"
    showFirstLastButtons
    (page)="handlePageEvent($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
