<section class="p-8">
  <div class="flex justify-between">
    <h3 class="text-xl font-medium">Add new client</h3>
    <mat-icon class="cursor-pointer" mat-dialog-close>close</mat-icon>
  </div>
  <mat-divider class="!my-8"></mat-divider>

  <form [formGroup]="createClientForm" (ngSubmit)="onSubmit()">
    <p class="text-sm font-bold mb-2">Profile picture</p>

    <div class="flex mb-2 flex-col items-center">
      <div
        class="size-30 rounded-full"
        [ngClass]="{
          'size-72': !!createClientForm.get('profilePictureURL')?.value,
        }"
      >
        <img
          class="size-full"
          [src]="
            createClientForm.get('profilePictureURL')?.value ||
            'assets/no-pfp.svg'
          "
        />
      </div>

      <label for="file-input" class="cursor-pointer mt-2">
        <img src="assets/add-photo.svg" />
      </label>
      <input
        #imageFileUpload
        type="file"
        accept="image/jpeg, image/png, image/tiff, image/gif"
        id="file-input"
        class="hidden"
        (change)="selectFile($event)"
      />
    </div>

    <app-client-form
      [displayCta]="false"
      [allValuesRequired]="true"
    ></app-client-form>

    <div class="mt-4 grid grid-cols-2 gap-2">
      <button
        mat-raised-button
        class="!ml-0 h-10 w-full !border !border-solid !border-neutral-600 px-6 py-2 !shadow-none"
        type="button"
        (click)="clearAll()"
      >
        Clear all
      </button>

      <button
        mat-flat-button
        class="h-10 w-full !bg-primary-500 px-6 py-2 !text-primary-A100"
        [disabled]="!createClientForm.valid"
        type="submit"
      >
        Add client
      </button>
    </div>
  </form>
</section>
