// To remove conflict between material and tailwind styles that causes problems for inputs
:host::ng-deep.mdc-notched-outline__notch {
  border-right: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
